<div class="snippet-body">
  <a href="/snipe/{{_id}}"><h4>{{title}}</h4></a>
  <a href="/user/{{author.username}}"><h6>{{author.username}}</h6></a>
  <a href="/snipe/langs/{{language}}"><h6 class="text-muted">{{language}}</h6></a>
  <pre><code class="language-{{language}}">{{code}}</code></pre>
  <p class="text-muted notes">{{notes}}</p>
  tags: {{#tags}}<a href="/tags/{{.}}">{{.}}</a>, {{/tags}}
  <div class="float-right">
    <img class="fav-star" src="/img/unlit-sm.png" id="{{_id}}">{{faves}}
  </div>
</div>
