{{>_header}}
<div class="new-snippet">
  <h2>Add a New Snippet</h2>
  <form class="new-snippet-form" action="/user/newsnipe" method="POST">
    <div class="form-group">
      <label for="title">Snippet Title</label>
      <input type="text" name="title" class="form-control" value="" placeholder="Snippet Name">
    </div>
    <div class="form-group">
      <label for="language">Select Snippet Language</label>
      <select class="language-select form-control" name="language">
        <option value="HTML">HTML</option>
        <option value="CSS ">CSS</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="code">Your Snippet</label>
      <textarea name="code"  class="form-control" rows="8" cols="40" placeholder="Your code..." required></textarea>
    </div>
    <div class="form-group">
      <label for="notes">Notes (optional)</label>
      <textarea name="notes"  class="form-control" rows="8" cols="40" placeholder="Your notes..."></textarea>
    </div>
    <div class="form-group">
      <label for="tags">Categories</label>
      <input type="text"  class="form-control" name="tags" placeholder="Tags">
    </div>
    <button type="submit" class="btn btn-outline-success" name="button">Submit</button>
  </form>
</div>
{{>_footer}}
