{{>_header}}
<div class="signup">
  <h2>Sign Up for _snipe_</h2>
  <form class="signup-form" action="" method="POST">
    <input type="text" name="username" autofocus placeholder="Username" required>
    <input type="password" name="password" placeholder="Password"required>
    <input type="text" name="img" value="" placeholder="Avatar">
    <input type="text" name="name" value="" required placeholder="Full Name">
    <input type="text" name="email" value="" placeholder="E-mail"required>
    <textarea name="bio" rows="8" cols="30"placeholder="Short Bio"></textarea>
    <button type="submit" class="btn btn-outline-success" name="button">Sign Up</button>
  </form>
</div>
{{>_footer}}
