{{>_header}}
<div class="user">
  <div class="profile">
    {{#userInfo}}
    <img src="{{img}}" class="img-thumbnail float-left prof-pic" alt="">
    <h2>{{username}}</h2>
    <h4 class="text-muted">{{name}}</h4>
    <p>Bio: {{bio}}</p>
    <p>Snippets: {{snippets.length}}</p>
    {{/userInfo}}
  </div>
  <hr>
  {{#snippets}}
  <div class="snipe">
    {{>_snipe}}
  </div>
  {{/snippets}}
</div>
{{>_footer}}
