{{>_header}}
<div class="user">
  <div class="profile">
    {{#userInfo}}
    <img src="{{img}}" alt="">
    <h2>{{username}}</h2>
    <h3>{{name}}</h3>
    <p>{{bio}}</p>
    {{/userInfo}}
  </div>
</div>
{{>_footer}}
