.logo {
	width: 25px;
	margin: 0 10px;
}

.signup,
.signup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signup-form input,
.signup-form button {
	margin: 5px 0;
}

.new-snippet-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.prof-pic {
	max-width: 200px;
	margin-right: 10px;
}
