.logo {
	width: 25px;
	margin: 0 10px;
}

.signup,
.signup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signup-form input,
.signup-form button {
	margin: 5px 0;
}
