.logo {
	width: 25px;
	margin: 0 10px;
}
.navbar {
	width: 100%;
	position: fixed;
}
.user,
.new-snippet,
.index,
.login,
.signup {
	padding-top: 60px;
}

.signup,
.signup-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signup-form input,
.signup-form button {
	margin: 5px 0;
}

.prof-pic {
	max-width: 150px;
	margin-right: 10px;
}

.snipe {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.snippet-body {
	padding: 10px;
	margin: 5px 0;
	background-color: #fff6de;
	width: 50%;
}

form {
	margin-left: 20px;
	max-width: 50%;
}
